# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.code-workspace

# Builds/archives
dist/
build/
*.zip
.worktrees/

# Env
.env
.env.*
